<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
</head>
<body>
    <h1>nkn</h1>
    <a href="{{ url_for('add_transaction') }}">
        <button>Add Transaction</button>
    </a>
    <a href="{{ url_for('add_watchlist') }}">
        <button>Add watchlist</button>
    </a>
    <a href="{{ url_for('stockprice') }}">
        <button>stockprice</button>
    </a>
    <a href="{{ url_for('fundamental_report') }}">
        <button>fundamental</button>
    </a>
    <a href="{{ url_for('technical_analysis') }}">
        <button>technical</button>
    </a>
    <a href="{{ url_for('company_profile') }}">
        <button>company profile</button>
    </a>
    <a href="{{ url_for('dividend_history') }}">
        <button>company profile</button>
    </a>
    <a href="{{ url_for('watchlist') }}">
        <button>watchlist</button>
    </a>
    <a href="{{ url_for('holdings') }}">
        <button>holdings</button>
    </a>
    <a href="{{ url_for('news') }}">
        <button>news</button>
    </a>
</body>
</html>